<div class="tiles-container">

  <div class="tile">
    <p class="urdu">مریم معین کی جانب سے</p>
    <p class="english">By Mariam Mueen</p>
  </div>

  <div class="tile">
    <p class="urdu">اردو فریز بُک ٹیمپلیٹ میں خوش آمدید۔</p>
    <p class="english">Welcome to the Urdu Phrasebook Template</p>
  </div>

  <div class="tile">
    <p class="urdu">سائٹ کو دریافت کرنے کے لیے نیویگیشن لنکس استعمال کریں۔</p>
    <p class="english">Use the navigation links to explore the site.</p>
  </div>

  <div class="tile">
    <p class="urdu">تمام CRUD فنکشنز درست طور پر کام کر رہے ہیں!</p>
    <p class="english">All CRUD functions are fully working!</p>
  </div>

</div>
