<h1>Login</h1>

<form action="/users/login" method="POST" class="form">
  {{#if error}}
    <p style="color: red;">{{error}}</p>
  {{/if}}

  <div>
    <label>Username:</label>
    <input type="text" name="username" required>
  </div>

  <div>
    <label>Password:</label>
    <input type="password" name="password" required>
  </div>

  <button type="submit">Login</button>
</form>

<p>
  Don't have an account? <a href="/users/register">Register</a>.
</p>
